@{
	ViewData["Title"] = "Home ";
}

<div class="text-center">
	<h1 class="display-4 text-light"><i class="bi bi-person-vcard"></i></h1>
	<p class="display-4 text-light"><span class="fw-bold">Agenda Médica</span></p>

	<a class="btn btn-outline-light btn-lg mt-5 w-25" asp-asp-controller="Agendas" asp-action="Create">Agende a sua consulta</a>
</div>
