@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 text-light"><i class="bi bi-person-vcard"></i></h1>
	<p class="display-4 text-light"><span class="fw-bold">Agenda Médica</span></p>

	<a class="btn btn-primary btn-lg">Botão</a>
</div>
